/* Plus Jakarta Sans */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../../public/Fonts/Plus_Jakarta_Sans/PlusJakartaSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../public/Fonts/Inter/Inter_18pt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


*, :root, ::before, ::after {
    --primary-hsl: 136, 67%, 38%;
    --secondary-hsl: 189, 99%, 36%;
    --tertiary-hsl: 171, 73%, 36%;
    --accent-hsl: 230, 23%, 25%;
    --base-hsl: 230, 23%, 25%;
    --white-hsl: 0, 0%, 99%;
    

    --primary-color: hsl(var(--primary-hsl), 1);
    --primary-color-80: hsl(var(--primary-hsl), 0.8);
    --primary-color-30: hsl(var(--primary-hsl), 0.3);

    --base-color: hsl(var(--base-hsl), 1);
    --base-color-90: hsl(var(--base-hsl), 0.9);
    --base-color-10: hsl(var(--base-hsl), 0.1);

    --white-color: hsl(var(--white-hsl), 1);
    --white-color-30: hsl(var(--white-hsl), .3);

    --secondary-color: hsl(var(--secondary-hsl), 1);
    --secondary-color-80: hsl(var(--secondary-hsl), 0.8);

    --tertiary-color: hsl(var(--tertiary-hsl), 1);

    --accent-color: hsl(var(--accent-hsl), 1);

    --body-font: 'Inter', sans-serif;	
    --display-font: 'Plus Jakarta Sans', sans-serif;

    --sec-gradient: linear-gradient(to right, var(--secondary-color) 0%, var(--tertiary-color) 100%);

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    line-height: 1.2em;
    color: var(--base-color-90);
}

body {
    background-color: var(--white-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--display-font);
}

h1, *[visuals=h1] {
    font-size: 4em;
    line-height: 1.1em;
    font-weight: 700;
    line-height: 1em;
    max-width: 1020px;
    @media (max-width: 36em) {
        font-size: 3em;
    }
}

h2, *[visuals=h2] {
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 700;
    @media (max-width: 36em) {
        font-size: 2em;
    }
}

h3, *[visuals=h3] {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 700;
}

.text {
    font-size: 1em;
    @media (max-width: 36em) {
        font-size: 0.875em;
    }
}

.text--3xs {
    font-size: 0.5em;
    @media (max-width: 1280px) {
        font-size: 0.375em;
    }
}

.text--2xs {
    font-size: 0.625em;
}

.text--xs {
    font-size: 0.75em;
    @media (max-width: 1280px) {
        font-size: 0.625em;
    }
}

.text--sm {
    font-size: 0.875em;
    @media (max-width: 1280px) {
        font-size: 0.75em;
    }
}

.text--lg {
    font-size: 1.125em;
    @media (max-width: 1280px) {
        font-size: 1em;
    }
}

.text--2lg {
    font-size: 1.25em;
    @media (max-width: 36em) {
        font-size: 1.125em;
    }
}

.text--xl {
    font-size: 1.5em;
    @media (max-width: 1280px) {
        font-size: 1.25em;
    }
}

.text--2xl {
    font-size: 1.625em;
    @media (max-width: 36em) {
        font-size: 1.5em;
    }
}

.text--3xl {
    font-size: 2em;
    @media (max-width: 36em) {
        font-size: 1.625em;
    }
}

.text--4xl {
    font-size: 4em;
    @media (max-width: 36em) {
        font-size: 4em;
    }
}

.text--1-4 {
    line-height: 1.4em;
}

.text--hl {
    font-size: 1.5em;
    font-weight: 500;
}

.text--i {
    font-style: italic;
}

.text--eb {
    font-weight: 900;
}

.text--b {
    font-weight: 700;
}

.text--sb {
    font-weight: 600;
}

.text--medium {
    font-weight: 500;
}

.text--light {
    font-weight: 300;
}

.text--primary {
    color: var(--primary-color);
}

.text--white {
    color: var(--white-color);
}

.text--gray {
    color: rgba(83, 83, 83, 1);
}

.text--dark-gray {
    color: #5F5C6B;
}

.text--green {
    color: #288740;
    & > * {
        color: #288740;
    }
}

.text--subtle {
    color: #DDD;
}

.text--display {
    font-family: var(--display-font);
}
.text--uppercase {
    text-transform: uppercase;
}

.text--underline {
    text-decoration: underline;
}

.line-height--3 {
    line-height: 3em;
}

.default-link {
    color: var(--primary-color);
    text-decoration: underline;
}

.align-right {
    text-align: right;
}

ul, ol {
    padding-left: 1.5em;
}